#wrapper {
    background: black;
    background-size: cover;
    min-height: 100vh;
}


#sign-up-form, #sign-in-form {

    text-align: center;
}

.alertCloseBtn {
    background: red;
    text-align: start;
}


.user-page-userInfo-form-read {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

.user-page-userInfo-form-edit {
    background: white;
    color: orange;
    border: 2px darkgoldenrod dashed;
    border-radius: 2px;
    padding: 5px;
}
#save-btn-block{
    width:60px;
    margin: 3px;
}
#user-page-user-age-block{
    display: flex;


}
#user-page-user-age{
    width: 50px;
}
#page-content {
    display: flex;
}

#myAlert {

    text-align: center;
    position: fixed;
}

.signUpElement, .signInElement {
    width: 330px;
}

.formBlock {
    border: darkgoldenrod 3px dashed;
    border-radius: 5px;
    background-color: darkslategray;

    color: darkgoldenrod;
    padding: 30px;

}
#search-page-search-input{
    margin: 10px;
}

.user-page-data-block, #search-page-result-block, #search-page-search-block {
    border: darkgoldenrod 3px dashed;
    border-radius: 5px;
    background-color: darkslategray;


    color: white;

}
.user-page-data-block,#search-page-result-block,#search-page-search-block{
    padding: 30px;
}
#search-page-result-block{
    width: 630px;
}
#search-page{
    display: flex;
}
#search-page-result-block-content{

    position: relative;
}
#search-page-search{
    display: flex;
}

#search-page-search-block{
    display:flex;

    width:340px;
}
.user-page-data-block{

    max-width: 400px;
}

#user-page-user-age-title {
    font-weight: lighter;
    font-size: 12px;
    margin-left: 2px;
}

#user-page-user-names {
    font-size: 20px;
}

#nav-menu-block {
    flex-basis: 300px;
}

#nav-menu, #sign-out-btn {
    list-style: none;
}

.menu-button, #sign-out-btn {
    width: 100px;
}
.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
.user-page-gender-option{
    background: darkslategray;
}
#photoProfileEdit{
    z-index: 0;
}
.formBlock {
    max-width: 400px;
}

#sign-up-back {
    margin-top: 80px;
    position: absolute;
}

.mandatory-field {
    color: red;
}

#photo-preview {
    flex-flow: column;
}
.search-result-block{
    border: 2px darkgoldenrod solid;
    margin: 4px;
    padding: 6px;
    width:500px;
}
.search-page-addFriend-btn-block{
    margin-left: 25px;
}
.search-page-btns-block{

    display: flex;
}
.search-page-pageLink-btn-block{

}
#photo-preview-img, #user-page-user-avatar,.user-search-user-avatar {
    max-height: 300px;
    max-width: 300px;
}

.signUpGender {
    margin-right: 10px;
}

.signUpGender:first-child {
    float: left;
}
