#wrapper{
  background: black;
  background-size: cover;
  min-height: 100vh;
}
#sign-up-form, #sign-in-form{

  text-align: center;
}
.alertCloseBtn{
  background: red;
  text-align: start;
}

#myAlert{

  text-align: center;
  position: fixed;
}
.signUpElement, .signInElement{
  width: 330px;
}
.formBlock, .user-page-data-block {
  border:darkgoldenrod 3px dashed;
  border-radius: 5px;
  background-color: darkslategray;

  color:darkgoldenrod;
  padding: 30px;

}

.formBlock{
  max-width: 400px;

}
.user-page-data-block{
  max-width: 300px;
  color:white;
}

.mandatory-field{
  color: red;
}
#photo-preview{
  flex-flow: column;
}
#photo-preview-img{
  max-height: 300px;
  max-width: 300px;
}
.signUpGender{
  margin-right: 10px;
}

.signUpGender:first-child{
  float:left;
}